#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
    border: 5px solid black;
}

#formMail {
    background-color: rebeccapurple;
}

