section {
    position: relative;
}

#page2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page2--column {
    justify-content: flex-start;
    width: 40vw;
}

#mulherImg {
    position: absolute;
    left: 45%;
}

