#page2 {
    padding: 0;
}

#botaoQuero {
    justify-content: center;
    align-self: center;
}

#botaoQuero strong {
    color: white;
}

/* --- Page 2 --- */

#page2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 50vh;
    height: 95vh;
}

#page2--title {
    text-align: end;
    font-size: 4.5rem;
    margin: 0;
    line-height: 1.15;
}

.page2--column {
    width: 30%;
    padding: 20px;
    z-index: 1;
    margin-top: 3rem;
}

.page2--column #botaoQuero {
    min-width: 0px;
    width: 100%;
}

#mobile {
    display: none;
}

.meio-circulo {
    width: 750px;
    height: 375px;
    align-self: flex-end;
    position: absolute;
    left: 22.5%;
    background-color: #BC9722;
    border-radius: 750px 750px 0 0;
    overflow: hidden;
    z-index: -1;
}

.page2--column h2 {
    text-align: left;
    font-family: sans-serif;
    color: #8D773A;
    margin: 0;
    font-size: 2rem;
}

#page2--text {
    margin: 2rem;
    width: 33%;
    margin-top: 7rem;
}

#page2--imgCelia {
    align-self: flex-end;
    position: absolute;
    width: 35%;
    margin: 0;
    left: 30%;
    z-index: 2;
}

/* --- Page 3-6 --- */

#page3--title {
    font-family: 'Bebas Neue', sans-serif;
}

#descubra {
    width: 25%;
    align-self: center;
    padding: 0 2rem;
}

#descubra a {
    width: 75%;
}

#descubra #botaoQuero {
    min-width: 0px;
    width: 100%;
}

#descubra h1 {
    text-align: center;
    font-size: 4rem;
}

#page3 .row {
    margin-top: 3rem;
    row-gap: 15vh;
    align-items: flex-start;
}

#page3 .row .column {
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#cavitacao {
    background-image: url("../images/corpo/5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#radio {
    background-image: url("../images/corpo/6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#pressoterapia {
    background-image: url("../images/corpo/7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#vacuoterapia {
    background-image: url("../images/corpo/8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#emso {
    background-image: url("../images/corpo/8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#microagulha {
    background-image: url("../images/corpo/11.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* -- Page 10 --- */

#page9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

#page9 .column {
    width: 30%;
    z-index: 1;
}

#page9 .column h1 {
    font-size: 4rem;
    overflow-wrap: break-word;
}

#page9 .column #botaoQuero {
    min-width: 0px;
    width: 100%;
}

.page9--column {
    width: 27%;
}

.page9--column p {
    color: #8D773A;
    font-size: 1.33rem;
    line-height: 1.5;
}

#page9 #imgCelia {
    position: relative;
    left: -2%;
    z-index: 1;
    align-self: flex-end;
    width: 35%;
}

#h2Pos {
    width: auto;
    color: #8D773A;
    background-color: transparent;
    z-index: 10;
    padding: 0px;
    position: relative;
    left: initial;
    bottom: -40px;
    font-family: 'codec', sans-serif;
    font-size: 1.5rem;
    align-self: flex-end;
}

.mobile, .mobile2 {
    display: none;
}

@media (min-width: 800px) {

    .mobile {
        display: none;
    }

    a.mobile2 {
        display: none
    }
}


@media (max-width: 800px) {

    #botaoQuero {
        align-self: center;
        margin: auto;
    }

    #botaoQuero strong {
        color: white;
    }

    /* --- Page 1 --- */
    /* --- Page 2 --- */

    #page2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    .page2--column #botaoQuero {
        min-width: 0px;
        width: 100%;
    }

    #page2--title {
        text-align: center;
        font-size: 3.5rem;
        margin: 2rem 0;
        line-height: 1.15;
    }

    .page2--column h2, #h2Mobile {
        text-align: center;
        font-family: sans-serif;
        color: #8D773A;
        margin: 0;
        font-size: 1.75rem;
    }

    #h2Mobile {
        margin-top: 4rem;
        width: 90%;
    }

    #aMobile {
        order: 3;
        margin-bottom: 3rem;
    }

    .page2--column {
        position: static;
        width: 90%;
        padding: 0px;
        align-self: center;
        align-items: center;
        order: 1;
    }

    #page2--text {
        position: static;
        margin: 2rem;
        width: 90%;
        margin-top: .5rem;
        text-align: center;
        order: 2;
        font-size: 1.15rem;
    }

    .rowPage2Mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
    }

    .rowPage2Mobile #page2--imgCelia {
        position: static;
        align-self: center;
        width: 250px;
        margin: 0;
        order: 3;
    }

    #mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        order: 3;
    }

    .pc, #pc {
        display: none;
    }

    .meio-circulo {
        background-color: #BC9722;
        width: 350px;
        height: 175px;
        border-radius: 350px 350px 0 0;
        overflow: hidden;
        position: absolute;
        left: 4vw;
        z-index: 0;
        order: 4;
    }

    /* --- Page 3 --- */

    .brPc {
        display: none;
    }
    #page3 .row .column {
        width: 100%;
    }

    #descubra {
        padding: 0 2rem;
    }

    #descubra h1 {
        text-align: left;
        font-size: 3rem;
    }

    /* --- Page 10 --- */

    #page9 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #page9 .column {
        display: none;
    }

    #page9 .column h1 {
        font-size: 3rem;
        overflow-wrap: break-word;
    }

    #page9 .column #botaoQuero {
        min-width: 0px;
        width: 100%;
    }

    .mobile {
        display: block;
        order: 0;
    }

    .page9--column {
        width: 27%;
        order: 0;
    }

    a.mobile2 {
        display: block;
        margin: 3rem 0;
    }

    #page9 #imgCelia {
        z-index: 1;
        position: static;
        align-self: center;
        width: 225px;
        order: 3;
    }

    .page9--column p {
        color: #8D773A;
        font-size: 1.15rem;
        line-height: 1.5;
    }

    #h2Pos {
        width: auto;
        color: #8D773A;
        background-color: transparent;
        z-index: 10;
        padding: 0px;
        position: relative;
        left: 0px;
        top: 10px;
        font-family: 'codec', sans-serif;
        font-size: 1.25rem;
    }

}
