header {
    padding: 16px;
    margin-bottom: 10px;
    font-family: Arial,
        sans-serif;
}

body {
    font-family: Arial, sans-serif;
    padding-left: 16px;
    padding-right: 16px;
}

h1, ul {
    color: rgb(179, 131, 11);
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60pt;
}

button {
    border: none;
    background-color: rgb(179, 131, 11);
    color: white;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
}

.rowFDS {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 30px;
}

.botaoQuero {
    border: none;
    background-color: rgb(179, 131, 11);
    color: white;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
}

button:hover {
    background-color: red;
}

input {
    text-align: center;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 20px;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgb(179, 131, 11);
    background-image: url("http://lorempixel.com.br/250/250");
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.columnStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.columnStart2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.columnItens {
    width: 25%;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.row {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.row2 {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rowCrossStart {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titleWhite {
    color: white;
}

.divForm {
    width: 75vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 20px;
    background-color: rgb(179, 131, 11);
}

.formButton {
    width: 33%;
    height: 50px;
    background-color: rgb(230, 193, 100);
    color: white;
    border: none;
    border-radius: 20px;
}

.auxDiv {
    height: 150px;
    position: relative;
}

.divAux {
    position: relative;
    width: 48vw;
    height: 770px;
}

.divGold {
    width: 180px;
    height: 150px;
    background-color: rgb(179, 131, 11);
    position: absolute;
    left: 30px;
}

.imgBig {
    width: 40vw;
    position: absolute;
}

.imgItem {
    position: absolute;
    top: 10px
}

#h1Pos {
    font-size: 90px;
    position: absolute;
    left: 15vw;
}

#h4Pos {
    position: absolute;
    left: 17vw;
    bottom: 40px;
}

#h4Pos2 {
    position: absolute;
    left: 17vw;
    bottom: 0;
}

.columnFDS {
    max-width: 48vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

}